.todo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

header{
    margin-top: 5%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-right: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.add-button{
    border: none;
    background-color: white;
    transition:all 0.3s ease;
}

.add-button :hover{
  border-radius: 30px;
  background-color: #0BA0D1;
  cursor: pointer;
}


.button{
    border: none;
    background-color: #DBEDF3;
    padding-left: 13px;
    transition:all 0.3s ease;
}

.button :hover{
  cursor: pointer;
  background-color: #0BA0D1;
  border-radius: 30px;
  padding: 2px;
}

.tasks{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

main{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  margin-left: 130px;
  margin-right: 130px;
}

.task-container{
    
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #DBEDF3;
    border-radius: 20px;
    margin-bottom: 41px;
    width: 400px;
    max-width: 400px;
    max-height: 147px;
    text-overflow: ellipsis;
    overflow: hidden;
   
    
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.goal-wrapper{
font-weight: 400;
font-size: 14px;
line-height: 150%;
max-height: 100%;
}


