.todo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   

}

header{
    margin-top: 5%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-right: 50px;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 24px;
}

.add-button{
    border: none;
    background-color: white;
}

.tasks{
    margin-top: 60px;
}

.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    padding: 25px;
    background-color: #DBEDF3;
    border-radius: 20px;
    margin-bottom: 41px;
    max-width: 568px;
    max-height: 147px;
    
}

.title-wrapper{
    display: flex;
    padding-bottom: 12px;
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
}

.goal-wrapper{
font-weight: 400;
font-size: 14px;
line-height: 150%;
}
